.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 0;

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio-slider {
  margin-top: 5rem;
}

.portfolio-slider .swiper-slide {
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  position: relative;
}
.portfolio-slider .swiper-slide .slide-image {
  display: block;
  width: 100%;
  height:100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}

.portfolio-slider .swiper-slide:hover .descriptions{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}

.portfolio-slider .swiper-slide:hover .descriptions .languages{
  width: 100%;
  display: flex;
}

.portfolio-slider .swiper-slide:hover .descriptions .languages .language{
  border-radius: 40px;
  border: 2px solid #f09819;
  padding: 5px 20px;
  color: #ffad57;
  display: flex;
  width: fit-content;
  margin: 0 10px 0 0;
}


.portfolio-slider .swiper-slide:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}
.portfolio-slider .swiper-slide:hover .slide-image{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.portfolio-slider .swiper-slide h1{
  color: #fff;
  letter-spacing: 3px;
  margin: 0px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-weight: 900;
  background:linear-gradient(to right,#ff512f,#f09819);
}
.portfolio-slider .swiper-slide p{
  line-height: 24px;
}
.portfolio-slider .swiper-slide button{
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color:#fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  transition: all .5s ease-in-out;
}
.portfolio-slider .swiper-slide button:hover{
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}

.portfolio-slider .swiper-pagination {
  top: 105%;
}

.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-left{
  backdrop-filter: blur(2px);
}

.descriptions{
  position: absolute;
  color: white;
  top:0px;
  left:0px;
  background-color:#000000d4;
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}